@import '../../../assets/styles/main';
:local .list {

}

:local .videos-grid {
  display: grid;
  grid-template-columns: repeat(1, 98%);
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 1%;
  grid-row-gap: 1%;

  @media screen and (min-width: $wTablet) {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
  }

  @media screen and (min-width: $wDesktop) {
    grid-template-columns: repeat(4, 24.2%);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
  }
}
